.progress-stepper {
    margin-bottom: 30px;
    padding: 0;
    position: relative;
    overflow: hidden;

    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    /*CSS counters to number the steps*/
    counter-reset: step;

    li {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        color: $progress_stepper_item_color;

        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        font-size: $progress_stepper_font_size;
        letter-spacing: 1px;

        &:before {

        }

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: $progress_stepper_line_color;
            position: absolute;
            left: 0;
            top: 21px;
            z-index: -1;
        }

        &:first-child::after {
            left: 50%;
        }

        &:last-child::after {
            position: absolute;
            left: -50%;
        }

        .icon {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 0;
            background-color: $progress_stepper_item_icon_color;
            color: #fff;
        }
    }
}

.progress-stepper .done {
    color: $progress_stepper_done_color;
    &::after {
        background: $progress_stepper_done_line_color;
    }
    .icon {
        background-color: $progress_stepper_done_icon_background;
    }
}

.progress-stepper .active {
    color: $progress_stepper_active_color;

    &::after {
        background: $progress_stepper_done_line_color;
    }
    .icon {
        background-color: $progress_stepper_active_icon_background;
    }
    .label {
        color: $progress_stepper_active_label_color;
        font-weight: bold;
    }
}