$progress_stepper_font_size: 1rem !default;
$progress_stepper_line_width: 5px !default;
$progress_stepper_line_color: #ccc !default;

$progress_stepper_item_color: #ccc !default;
$progress_stepper_item_icon_color: #ccc !default;

$progress_stepper_done_color: #2aaa61 !default;
$progress_stepper_done_icon_background: #69ffa8 !default;
$progress_stepper_done_line_color: #69ffa8 !default;

$progress_stepper_active_color: #03a34c !default;
$progress_stepper_active_label_color: null !default;
$progress_stepper_active_icon_background: #2aaa61 !default;