$progress-spinners-color:              #0052ec !default;
$progress-spinners-size:                  56px !default;
$progress-spinner-height:                20px !default;
$progress-spinners-border-size:            8px !default;
$progress-spinner-gap:                   12px !default;
$progress-spinners-animation-duration:      1s !default;