$progress-loaders-text-font-size: 1rem !default;
$progress-loaders-text-color: null !default;
$progress-loaders-text-background: transparent !default;

$progress-loaders-text-animation-delay: 2s !default; // delay the start from page load
$progress-loaders-text-animation-length: 3s !default; // animation between items